fastapi
uvicorn
python-multipart
python-dotenv

pypdf

langchain
langchain-community
langchain-text-splitters
langchain-huggingface

sentence-transformers
faiss-cpu

neo4j

streamlit

pydantic
langchain-openai
requests
